.search__title {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 1439px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .search__title {
    margin-bottom: 32px;
  }
}
