@import url(./_style/header__title_style_black.css);
@import url(./_style/header__title_style_white.css);

.header__title {
  margin: 0;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.header__title:hover {
  opacity: .9;
  transition: all .4s ease;
}
