@import url('./_style/header__link_style_white.css');
@import url('./_style/header__link_style_black.css');
@import url('./_status/header__link_status_active.css');
@import url('./_status/header__link_status_inactive.css');

.header__link {
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
