@import url(../__spinner/search-results__spinner.css);
@import url(../__text/search-results__text.css);
@import url(../__not-found-image/search-results__not-found-image.css);
@import url(../__title/search-results__title.css);
@import url(./_status/search-results__container_status_active.css);
@import url(./_status/search-results__container_status_inactive.css);
@import url(../__header/search-results__header.css);

.search-results__container {
  padding: 80px 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .search-results__container {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .search-results__container {
    padding: 32px 0 44px 0;
  }
}
