.search__button {
  position: absolute;
  top: calc(50% - 32px);
  right: 0;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: white;
  border: none;
  outline: none;
  padding: 23px 54px;
  cursor: pointer;
}

.search__button:hover {
  background: #347EFF;
}

.search__button:active {
  background: #2A65CC;
}
