.table__scale-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #B6BCBF;
  margin-top: 16px;
  margin-bottom: 8px;
}
