.commits__card-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 0 0 16px 0;
}

@media screen and (max-width: 1919px) {
  .commits__card-date {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .commits__card-date {
    font-size: 14px;
    margin-bottom: 8px;
  }
}


