@import url(../header/header.css);
@import url(./__container/search__container.css);

.search {
  background-image: url(../../images/search-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 576px;
}
