.search-results__card-text {
  margin-top: 0;
  margin-bottom: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 110px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .search-results__card-text {
    -webkit-line-clamp: 4;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .search-results__card-text {
    -webkit-line-clamp: 4;
    margin-bottom: 5px;
  }
}
