.header__link_status_inactive {
  color: #B6BCBF;
}

.header__link_style_white.header__link_status_inactive:hover {
  color: #FFFFFF;
}

.header__link_style_black.header__link_status_inactive:hover {
  color: #1A1B22;
}
