.header__content {
  width: 100%;
  max-width: 1810px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1919px) {
  .header__content {
    max-width: 1230px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header__content {
    max-width: 688px;
  }
}

@media screen and (max-width: 767px) {
  .header__content {
    max-width: 288px;
  }
}
