.about__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #1A1B22;
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 1919px) {
  .about__paragraph {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about__paragraph {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .about__paragraph {
    margin: 0;
  }
}
