.commits__link {
  font-family: Roboto;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-weight: 500;
  color: #1A1B22;
  display: flex;
}

.commits__link::after {
  content: '';
  display: block;
  background-image: url(../../../images/arrow.png);
  height: 24px;
  width: 24px;
}

.commits__link:hover {
  opacity: .8;
  transition: all .4s ease;
}

@media screen and (max-width: 1919px) {
  .commits__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .commits__link {
    display: none;
  }
}
