.request__span_style_grey {
  color: #b6bcbf;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
}

.request__span_style_grey:hover {
  transition: all .4s ease;
  color: #1A1B22;
}

@media screen and (max-width: 1919px) {
  .request__span_style_grey {
    font-size: 18px;
  }
}
