@import url(../__photo/about__photo.css);
@import url(../__text-container/about__text-container.css);

.about__container {
  max-width: 1230px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-right: 110px;
  box-sizing: border-box;
}
