@import url(../__social-link/footer__social-link.css);

.footer__social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 -24px 0 0;
}

@media screen and (max-width: 767px) {
  .footer__social {
    align-self: flex-start;
  }
}
